/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

:root {
    --primary-color: #748A95;
    --secondary-color: #3C3E49;
    --accent1-color: #4C7A8D;
    --accent2-color: #6FBCD6;

    --heading-font: "Monoton";
    --paragraph-font: Times, Helvetica, sans-serif;

    --headline-color-on-white: #16323c;
    --headline-color-on-color: #6FBCD6;
    --paragraph-color-on-white: #3C3E49;
    --paragraph-color-on-color: #6FBCD6;
    --paragraph-background-color: #3C3E49;
    --nav-link-color: #3C3E49;
    --nav-background-color: #6FBCD6;
    --nav-hover-link-color: #6FBCD6;
    --nav-hover-background-color: #3C3E49;
}

h1,
h2,
h3 {
    font-family: var(--heading-font);
    color: #16323c;
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

p {
    font-family: 'Times New Roman', Times, serif;
    color: #3C3E49;
    font-size: 30px;
}

body {
    font-family: Arial,
        sans-serif;
    margin: 0;
    padding: 0;
    background-color: #C2CDE9;
    color: #000;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 2px solid #000;
}

.header nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #000;
}

.main-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.main-image img {
    width: 60%;
}

.main-image .text {
    width: 35%;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
}

.about {
    margin-top: 40px;
}

.murals {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.murals div {
    width: 48%;
}

.murals img {
    width: 100%;
}

.footer {
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    border-top: 2px solid #000;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#navbar-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: var(--nav-background-color);
}

#navbar {
    grid-column: 2 / 3;
    justify-self: right;
    line-height: 3em;
    text-align: center;
    font-size: 1.8em;
}

nav a {
    padding: 1em;
    min-width: 120px;
    text-decoration: none;
    padding: 30px;
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

#logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 90px;
    width: auto;
}